<style>
    body {
        background-image: url("/images/server-images/view-img.jpg");
        height: 100%;
    }

    .form-cover {
        background: rgb(238, 174, 202);
        background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
        border-radius: 50px;
    }
</style>

<div class="container-fluid w-50 p-3 form-cover">
    <div class="d-flex justify-content-center ">
        <div class="w-50">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-3 text-center"><i>{{data.subject}}</i></h3>

            {{#if error}}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
            {{/if}}

            <form action="/accounts/reply-forward" method="post" id="replyForward">
                <div class="form-outline mb-4" hidden>
                    <input type="text" id="emailID" name="emailID" value="{{data._id}}" class="form-control" />
                </div>
                <!-- Email sender -->
                <div class="form-outline mb-4">
                    <input type="text" id="emailSender" name="emailSender" class="form-control" value="{{data.sender}}"
                        readonly />
                    <label class="form-label" for="emailSender">Email Sender</label>
                </div>
                <!-- Email receiver -->
                <div class="form-outline mb-4">
                    <textarea class="form-control" id="emailReceiver" name="emailReceiver" rows="4"
                        readonly>{{data.receiver}}</textarea>
                    <label class="form-label" for="emailReceiver">Email Receiver</label>
                </div>
                <!-- Email body -->
                <div class="form-outline mb-4">
                    <textarea class="form-control" id="message" name="message" rows="4"
                        readonly>{{data.body}}</textarea>
                    <label class="form-label" for="message">Message</label>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-success btn-block mb-4" form="replyForward" name="reply" value="true">Reply</button>
                <button type="submit" class="btn btn-warning btn-block mb-4" form="replyForward" name="forward" value="true">Forward</button>
            </form>
        </div>
    </div>
</div>

<script>
   

</script>