<style>
    body {
        font-family: "Lato", sans-serif;
    }

    .sidenav {
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
    }

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .main {
        margin-left: 160px;
        /* Same as the width of the sidenav */
        font-size: 28px;
        /* Increased text to enable scrolling */
        padding: 0px 10px;
    }

    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }

        .sidenav a {
            font-size: 18px;
        }
    }
</style>

<div class="container">
    <div class="sidenav">
        <a href="/accounts/home">About</a>
        <a href="#services">Services</a>
        <a href="#clients">Clients</a>
        <a href="/accounts/email" target="_blank">Create Email</a>
        <a href="/accounts/receive-email">Receive Email</a>
        <a href="/accounts/send-email">Send Email</a>
        <a href="/accounts/draft-email">Draft Email</a>
        <a href="/accounts/star-email">Star Email</a>
        <a href="/accounts/delete-email" style="color:white; background-color:gray">Deleted Email</a>
        <a href="/accounts/change-password">Change Password</a>
        <a href="/accounts/security-question">Security Question</a>
    </div>
    <div class="card shadow">
        <div class="pt-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-3 text-center">{{category}}<b>{{user_email}}</b></h3>
        </div>
        <div class='card-body'>
            <table class='table table-hover data-table'>
                <thead class='thead-light'>
                    <tr>
                        {{!-- <th scope='col'>Hình ảnh</th>
                        <th scope='col'>Tên</th>
                        <th scope='col'>Mã</th>
                        <th scope='col'>Điều chỉnh</th>
                        <th scope='col'></th> --}}
                    </tr>
                </thead>
                <tbody>
                    {{#if emailList}}
                    {{#each emailList}}
                    <tr>
                        <td style="color: red; width: 8%">{{emailNotation}}</td>
                        <td style="width: 15%">{{draft_sender_receiver}}</td>
                        <td id="time" hidden>{{createdAt}}</td>
                        <td style="width: 15%"><a href="/accounts/view-email-detail/{{_id}}"
                                target="_blank">{{subject}}</a></td>
                        <td style="width: 25%">{{body}}</td>
                        <td class='d-flex'>
                            {{!--is star --}}
                            {{#if is_delete_send}}
                            <a class='text-success w-25'
                                href='/emails/update-is-deleted-email-section-sender/{{_id}}/false'>
                                <i class="fa-solid fa-trash"></i>
                            </a>
                            {{/if}}
                            {{#if is_delete}}
                            <a class='text-success w-25' href='/emails/update-is-deleted-email-section/{{_id}}/false'>
                                <i class="fa-solid fa-trash"></i>
                            </a>
                            {{/if}}
                            {{!--is meta data --}}
                            <a class='text-primary w-25' href='#' id="meta-data">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                    {{else}}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {{/if}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#meta-data').click(function () {
            let timer = $('#time').text()
            alert("Meta-data: " + "\n\tTime Send: " + timer)
        });
    });
</script>